<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

  </head>
  <body class="mx-12 my-6">
    <div>
    <h1 class="text-left font-semibold text-4xl">Md Shahid Alam</h1>
    <h5 class="font-medium text-xl my-2">Web Developer</h5>
  </div>
    <div class="my-2">
    <span>Kolkata, India |</span> 
    <span>Phone: 9874563210 |</span> 
    <span>Email: okay@gmail.com |</span>
    <span>Github: github-link |</span>
    <span>LinkedIn: lk-link.com |</span>
    <span>Website: lk-link.com </span>
    </div>

  <div>
<h2 class="font-medium text-lg my-2 mt-4">Summary</h2>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
 Delectus nemo fugiat neque tempore consectetur nihil alias ullam esse corporis fugit
 deserunt maxime, numquam eos repellendus, deleniti quae at fuga repudiandae!
    </p>
  </div>

<div class="my-2">
    <h2 class="font-medium text-lg">Skills</h2>
<ul>
<li>Programming Languages : HTML | CSS | SASS | Javascript  | Typescript</li>
<li>Frameworks : React | Nodejs </li>
<li>Additional Tools : GraphQL | Git | Linux | jQuery | Redux Toolkit | NPM</li>
<li>Soft Skills : Great Communication | Creative | Organised | Team Player</li>
</ul>
</div>

<div class="my-2">
  <h2 class="font-medium text-lg ">Work Experience</h2>
<ul>
  <li>
  <span class=" text-grey-100 text-md ">BizPilot, India | Software Quality Engineer | July 2022 - Present</span>
  <div>
    <ul class="list-disc">
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took </li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took </li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took </li>
    </ul>
  </div> 
  </li>
</ul>
</div>

<div class="my-2">
<h2 class="font-medium text-lg">Education</h2>
<ul class="list-disc">
  <li>
  <h6>Bachelors in IT,2019-2022</h6>
  <span>Some College</span>
  <span>GPA : 8/10</span>
  </li>
</div>


<div class="my-2">
    <h2 class="font-medium text-lg">Projects</h2>
<ul class="list-disc">
  <li>
  <h6>AlgoExpert</h6>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable
  </p>
  </li>
  <li>
  <h6>AlgoExpert</h6>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable
  </p>
  </li>
  <li>
  <h6>AlgoExpert</h6>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable
  </p>
  </li>
  <li>
  <h6>AlgoExpert</h6>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable
  </p>
  </li>
  <li>
  <h6>AlgoExpert</h6>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable
  </p>
  </li>
</ul>
</div>

<div class="my-2">
<h2 class="font-medium text-lg">Certifications</h2>
<ul class="list-disc">
  <li>
  <h6>AlgoExpert</h6>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable
  </p>
  </li>
  <li>
  <h6>AlgoExpert</h6>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable
  </p>
  </li>
</ul>
</div>

<div class="my-2">
<h2 class="font-medium text-lg">Interests</h2>
<ul class="list-disc">
  <li>
  <h6>AlgoExpert</h6>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable
  </p>
  </li>
  <li>
  <h6>AlgoExpert</h6>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable
  </p>
  </li>
</ul>
</div>

  <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
